# DB
db.sqlite3
.env
# Python cache
__pycache__/
*.py[cod]
*.pyc

# Virtual env
venv/
env/

# Django media
media/
staticfiles/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/